<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="5" status="info">
    <!--变量配置 -->
    <Properties>
        <!-- 格式化输出：%date表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符 -->
        <!-- %logger{36} 表示 Logger 名字最长36个字符 -->
        <property name="LOG_PATTERN" value="%d %p %C{} [%t] %m%n"/>
    </Properties>

    <appenders>
        <console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </console>
    </appenders>

    <loggers>
        <root level="info">
            <AppenderRef ref="consoleAppender" level="all"/>
        </root>
    </loggers>

</configuration>
